<mat-toolbar style="background-color: #0066CC; text-align: center;">
    <button style="color: white; text-align: center; margin: auto;" [mat-menu-trigger-for]="zberiUrnik" mat-button>
        <h4>{{izbranUrnik}}</h4>
    </button>

    <mat-slide-toggle [(ngModel)]="autoPos">
        <span style="color: white;">Auto posodabljanje</span>
    </mat-slide-toggle>

    <span class="example-spacer"></span>

    <span style="color: white;" *ngIf="datum.length > 0">{{datum[0]}} - {{datum[4]}} </span>
    &nbsp;&nbsp;
    <button (click)="vrniseNaDanes()" style="color: white; border-color: white;" mat-stroked-button
        *ngIf="danes != value">Danes</button>
    &nbsp;&nbsp;

    <span matTooltip="Samodejno posodabljanje mora biti ugasnjeno" [matTooltipDisabled]="!autoPos"
        [matTooltipPosition]="'below'">
        <button [disabled]="autoPos" matTooltip="Izberi dan" [matTooltipPosition]="'below'" (click)="picker.open()"
            mat-raised-button>
            {{value}}
        </button>
    </span>



    <button (click)="nalozi()" mat-icon-button>
        <mat-icon style="color: white">refresh</mat-icon>
    </button>

</mat-toolbar>

<mat-form-field style="display: none;" class="example-full-width">
    <input [matDatepickerFilter]="myFilter" (dateInput)="izberiDatum($event)" matInput [matDatepicker]="picker">
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-menu #zberiUrnik>
    <button [disabled]="izbranUrnik == 'Posodobljen urnik'" (click)="zamenjajUrnik('Posodobljen urnik')" mat-menu-item>
        <span>Posodobljen urnik</span>
    </button>
    <button [disabled]="izbranUrnik == 'Stalen urnik'" (click)="zamenjajUrnik('Stalen urnik')" mat-menu-item>
        <span>Stalen urnik</span>
    </button>
</mat-menu>

<br>
<div class="row justify-content-center">
    <div class="col-4 justify content center" style="text-align: center;">
        <mat-card>
            <mat-card-content>
                <h1>Urnik profesorja</h1>



                <hr>
                <mat-form-field>
                    <mat-label>Izberi profesorja</mat-label>
                    <mat-select (selectionChange)="najdiUrnikProfesorja()" [(value)]="izbraniProfesor">
                        <mat-option value="{{profesor}}"
                            *ngFor="let profesor of vsiProfesorji">{{profesor}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="izbraniProfesor ">
                    <div *ngIf="!weekend">
                        <h1>Danes</h1>

                        <h2 style="text-align: center;">{{text}}</h2>

                        <table style="table-layout: fixed; width: 100%; text-align: center; border-collapse: collapse;"
                            *ngIf="loaded && ura >= 0">
                            <tr>
                                <td> <strong>V teku</strong> </td>
                                <td>
                                    <strong *ngIf="!odmor">Konec ure</strong>
                                    <strong *ngIf="odmor">Konec odmora</strong>
                                </td>
                                <td> <strong>Naslednja</strong> </td>
                            </tr>
                            <tr>
                                <td class="icons">
                                    <span *ngIf="!odmor"><strong>{{urnik[dan][ura]}}</strong></span>
                                    <span *ngIf="odmor"><strong>Odmor</strong></span>
                                </td>
                                <td class="icons">
                                    <span *ngIf="!odmor && ura >= 0"><strong>{{trajanjeUr[ura][1]}}</strong></span>
                                    <span *ngIf="odmor"><strong>{{trajanjeOdmorov[uraOdmora][1]}}</strong></span>
                                </td>
                                <td class="icons">
                                    <span *ngIf="ura < 6 && ura >= 0"><strong>{{urnik[dan][uraKasneje]}}</strong></span>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <table>
                            <tr>
                                <th *ngFor="let i of [0,1,2,3,4,5,6]">
                                    <span *ngIf="i == ura" style="color: black;"><strong>{{i+1}}</strong></span>
                                    <span *ngIf="i != ura">{{i+1}}</span>
                                </th>
                            </tr>
                            <tr>
                                <td *ngFor="let i of [0,1,2,3,4,5,6]"
                                    [ngStyle]="{'background-color': i == ura ? '#B3B3B3' :  'white' }">
                                    <span *ngIf="urnik[this.dan][i] != 'Prosto'">{{urnik[this.dan][i]}}</span>
                                    <span *ngIf="urnik[this.dan][i] == 'Prosto'"> &nbsp;</span>

                                </td>
                            </tr>
                        </table>

                        <br>
                    </div>



                    <h1>Teden</h1>
                    <table *ngIf="izbraniProfesor">
                        <tr>
                            <td></td>
                            <th *ngFor="let i of [0,1,2,3,4,5,6]">{{i+1}}</th>
                        </tr>
                        <tr *ngFor="let d of dni">
                            <th>
                                <span *ngIf="d == dan" style="color: black;">{{d.toUpperCase()}}</span>
                                <span *ngIf="d != dan">{{d.toUpperCase()}}</span>
                            </th>

                            <td *ngFor="let i of [0,1,2,3,4,5,6]" (click)="click(urnik[d][i])"
                                [ngStyle]="{'background-color': i == ura && d == dan ? '#B3B3B3' :  'white' }">
                                <span *ngIf="urnik[d][i] != 'Prosto'" style="cursor: pointer;">
                                    {{urnik[d][i]}}
                                </span>
                                <span *ngIf="urnik[d][i] == 'Prosto'"> &nbsp;</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>



    </div>

    <div class="col-7" style="text-align: center;">
        <mat-card>
            <mat-card-content>
                <h1>Urnik razredov</h1>
                <hr>
                <mat-form-field>
                    <mat-label>Izberi razred</mat-label>
                    <mat-select (selectionChange)="najdiUrnikRazreda()" [(value)]="izbraniRazred">
                        <mat-option value="{{razred}}" *ngFor="let razred of vsiRazredi">{{razred}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <div *ngIf="izbraniRazred">
                    <div *ngIf="!weekend">
                        <h1>Danes</h1>
                        <h2 style="text-align: center;">{{text}}</h2>

                        <table style="table-layout: fixed; width: 100%; text-align: center; border-collapse: collapse;"
                            *ngIf="loaded && ura >= 0">
                            <tr>
                                <td> <strong>V teku</strong> </td>
                                <td>
                                    <strong *ngIf="!odmor">Konec ure</strong>
                                    <strong *ngIf="odmor">Konec odmora</strong>
                                </td>
                                <td> <strong>Naslednja</strong> </td>
                            </tr>
                            <tr>
                                <td class="icons">
                                    <span
                                        *ngIf="!odmor"><strong>{{urnikRazreda[dan][ura].toUpperCase()}}</strong></span>
                                    <span *ngIf="odmor"><strong>Odmor</strong></span>
                                </td>
                                <td class="icons">
                                    <span *ngIf="!odmor && ura >= 0"><strong>{{trajanjeUr[ura][1]}}</strong></span>
                                    <span *ngIf="odmor"><strong>{{trajanjeOdmorov[uraOdmora][1]}}</strong></span>
                                </td>
                                <td class="icons">
                                    <span
                                        *ngIf="ura < 6 && ura >= 0"><strong>{{urnikRazreda[dan][uraKasneje].toUpperCase()}}</strong>
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <table>
                            <tr>
                                <th *ngFor="let i of [0,1,2,3,4,5,6]">
                                    <span *ngIf="i == ura" style="color: black;"><strong>{{i+1}}</strong></span>
                                    <span *ngIf="i != ura">{{i+1}}</span>
                                </th>
                            </tr>
                            <tr>
                                <td *ngFor="let i of [0,1,2,3,4,5,6]"
                                    [ngStyle]="{'background-color': i == ura ? '#B3B3B3' :  'white' }">
                                    {{urnikRazreda[this.dan][i]}}

                                </td>
                            </tr>
                        </table>

                        <hr>
                    </div>

                    <h1>Teden</h1>
                    <table style="width: 100%;">
                        <tr>
                            <td></td>
                            <th *ngFor="let i of [0,1,2,3,4,5,6]">{{i+1}}</th>
                        </tr>
                        <tr *ngFor="let d of dni">
                            <th>
                                <span *ngIf="d == dan" style="color: black;">{{d.toUpperCase()}}</span>
                                <span *ngIf="d != dan">{{d.toUpperCase()}}</span>
                            </th>
                            <td *ngFor="let i of [0,1,2,3,4,5,6]" (click)="click2(urnikProfesorjev[d][i])"
                                style="cursor: pointer;"
                                [ngStyle]="{'background-color': i == ura && d == dan ? '#B3B3B3' :  'white' }">


                                {{urnikRazreda[d][i]}}
                                <hr style="margin-top: 0.1rem; margin-bottom: 0.1rem;"
                                    *ngIf="urnikProfesorjev[d][i].length > 1">
                                {{urnikProfesorjev[d][i]}}


                            </td>
                        </tr>
                    </table>
                </div>

            </mat-card-content>
        </mat-card>
    </div>



</div>