<br>
<div class="container" style="text-align: center; height: 100%;">

    <h1>Dobrodošli na urniku </h1>

    <hr>

    <div style="text-align: center; margin: auto;">
        <asl-google-signin-button style="margin: auto;" id = "logo" shape="pill"  theme='filled_blue' type='standard' size='large'>
        </asl-google-signin-button> 
    </div>
    


    <!--  

    <h2>Izberi profesorja</h2>

    <hr>


    <div style="text-align: center;">
        <mat-form-field appearance="fill">
            <mat-label>Izberi Profesorja</mat-label>
            <mat-select [(value)]="izbran">
                <mat-option *ngFor="let a of vsiProfesorji" value="{{a}}">{{a}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <div *ngIf="izbran.length > 0">
        <hr>
        <div class="row" style="text-align: center;">

            <div>
                <h2 style="text-align: center;">Potrjujete da ste {{izbran}}?</h2>
            </div>


        </div>

        <hr>

        <table style="width: 100%;">
            <td>
                <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="shrani()"
                    style="background-color: #7ED37E;">
                    <a style="color: white">DA</a>
                </button>
            </td>
            <td>
                <button style="background-color: #FE5A59;" mat-fab color="warn"
                    aria-label="Example icon button with a home icon" (click)="reload()">
                    <a style="color: white">NE</a>
                </button>
            </td>
        </table>

    </div>

-->


</div>